@font-face {
    font-family: 'Unica';
    src: url("NeueHaasUnica-Medium.ttf");
}

@font-face {
    font-family: 'Pantasia';
    src: url("Pantasia-Regular.otf");
}

* {
    text-rendering: geometricPrecision;
    font-family: "Unica", Helvetica;
    line-height: 1;
}

html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.content {
    height: 100%;
}

.left {
    float: left;
    display:flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0.5em;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

.left::-webkit-scrollbar { 
    display: none; 
}

.left .title-container {
    position: fixed;
    width:25%;
}

.left .student {
    display:block;
}

.left .student-names {
    margin-top: 50%;
}

.left .student-expand {
    flex-direction: column;
    height:auto;
    box-sizing: border-box;
}

.left .student-expand img {
    max-width:15em;
    height:auto;
    z-index:10;
}

.left .student-expand .student-desc {
    font-family: 'Pantasia';
    font-size: 0.7em;
}

.right {
    float: left;
    float: left;
    display:flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0.5em;
    z-index:0;
}

#draggable {
    position: absolute;
    z-index: 9;
    text-align: center;
    cursor: move;
}

a {
    width:fit-content;
}

a:hover, .active {
    color:white;
    background-color: black;
    cursor: pointer;
}

.hidden {
    display: none
}

@media only screen and (max-device-width : 1024px) { 
    

}