@font-face {
  font-family: 'Unica';
  src: url("Type/NeueHaasUnica-Medium.ttf");
}

@font-face {
  font-family: 'Century';
  src: url("Type/Century-Schoolbook-Regular.ttf");
}

@font-face {
  font-family: 'Schrijf';
  src: url("Type/type.ttf");
}

:root {
  --mobileMenuDisplay: block;
  --color: blue;
  --menuZIndex: 10;

  --leftWidth: 30%;
  --rightWidth: auto;
}

header {
  position:fixed;
  box-sizing: border-box;
  padding:10px;
  z-index:2;
}

.screen-func-header {
  /*position:fixed;*/
  box-sizing: border-box;
  /*padding:10px;*/
  z-index: var(--menuZIndex);
  display: var(--mobileMenuDisplay);
  text-align: right;
}

footer {
  position:fixed;
  box-sizing: border-box;
  padding:10px;
  z-index: 2;
  right:0;
  text-align: right;
}

.help-text-individual{
  display: inline-block;
  animation-name: floating;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: large;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}


.help-text-container{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fact-times {
  font-family: Unica;
  font-size: 0.7em;
  margin: 0;
  text-align: right;
  float: right;
  clear: both;
  background-color: transparent;
}


.drag-div{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.bottom-of-page{
  padding:10px;
  z-index: 99;
  position:absolute;
  top: -0.1em;
  /*width: 20%;*/
  width: auto;
  /*width: 50%;*/
  right:0;
  pointer-events: none;
}

.mobile-bottom-of-page{
  padding:10px;
  z-index: 99;
  position:absolute;
  bottom: -0.1em;
  /*width: 50%;*/
  width: auto;
  right:0;
  
}

.scrolling-banner-child{
  height: 1em;
  width: 100%;
  background-color: transparent;
  padding: 0 0 0 0;
  margin-top:-1em;
  line-height: 1;
  text-align: right;
}

.scrolling-banner-child:hover{
  background-color: rgb(0, 0, 0);
  color:white;
}

.scrolling-banner-parent{
  width: 100%;
  height: 100%;
  background-color: none;
  overflow: hidden;
  z-index: 9999;
  height:5em;

}

.index-dt{
  padding-bottom: 5px;
}

.index-tiny-img {
  height:20px;
  width:20px;
  display: inline;
}

.index-times {
  font-family: Century;
  font-size: 0.7em;
  display: inline;
  padding-left: 5px;
  vertical-align:text-top;
}

.times {
  font-family: Century;
  font-size: 0.7em;
}

.helvetica {
  font-family: Unica;
  font-size: 1em;
  cursor: pointer;
  z-index: var(--menuZIndex);
  position: relative;
  pointer-events: all;
}

.index-main-paper {
  position:absolute;
  display:none; 
  padding:20px;
  width:100vw;
  height:100%;
  overflow: scroll;
  mix-blend-mode: darken;
  background-size: 33%;
  background-color: whitesmoke;
}

.focus-BG {
  position:absolute;
  box-sizing: border-box;
  max-width:50vw;
  height:100%;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 9999;
  user-select: none;

  top: 0;
  right: 0;
  background-color: rgb(0, 0, 0);

  -ms-overflow-style: none;  
  scrollbar-width: none; 
}
.focus-BG-mobile {
  position:absolute;
  box-sizing: border-box;
  /*max-width:50vw;*/
  width: 100vw;
  height:100%;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 9999;
  user-select: none;

  top: 0;
  right: 0;
  background-color: rgb(0, 0, 0);

  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

.index-main-BG {
  position:absolute;
  padding:20px;
  width:100vw;
  height:100%;
  overflow: scroll;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 33%;
  
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.index-main {
  position:absolute;
  width:100vw;
  height:95vh;
  overflow: hidden;
  z-index: 10;
}

.index-content {
  position:absolute;
  top:10vh;
  line-height: 1em;
  font-family: Unica;
}

.index-img img {
  width: 30vw;
  max-height:auto;
}

.index-line {
  padding-top: 12px;
  padding-bottom: 12px;
}

.index-right {
  position:absolute;
  height:100%;
  font-family: Unica;
  padding:20px;
  right:0;
  overflow: scroll;
}

/* new additions 06 05 2023 */

* {
  text-rendering: geometricPrecision;
  font-family: "Unica", Helvetica;
  line-height: 1;
}

html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: rgb(248, 248, 248);
}

.content {
  /*height: 100vh;*/
  height: 95vh;
  z-index: 10;
  position: relative;
}

.left {
  float: left;
  display:flex;
  flex-direction: column;
  width: var(--leftWidth);
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
  padding: 0.5em;
  -ms-overflow-style: none;  
  scrollbar-width: none; 
  user-select: none;
  background-color: var(--leftRightBGColor);
}

.left::-webkit-scrollbar { 
  display: none; 
}

.left .title-container {
  position: fixed;
  z-index: var(--menuZIndex);
}

.dragImg {
  max-height: 15em;
  cursor: move;
  position:block;
}

.dragImgIndex {
  font-size: 0.7em;
}

.dragImgIndexLine {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.left .search-bar {
  font-size: 1em;
  padding:0.5em;
  transform:translateX(-0.5em);
  border: none;
  background-color: transparent;
}

.left .search-bar:focus {
  outline:none;
}

.left .student {
  /*display:block;*/
  color: var(--color);
  display: var(--mobileMenuDisplay);
  z-index: var(--menuZIndex);
  position: relative;
}

.menu-to-hide {
  color: var(--color);
  display: var(--mobileMenuDisplay);
  z-index: var(--menuZIndex);
  position: relative;
}

.left .student-names {
  margin-top: 20vh;
  user-select: none;
}

.left .student-expand {
  display:none;
  flex-direction: column;
  height:auto;
  box-sizing: border-box;
  padding:0.5em;
}

.left .student-expand img {
  max-width:15em;
  height:auto;
}

.focus-Img {
  width: 100%;
  padding: 0 0 0.5em 0;
  user-select: none;
}

.focus-Header {
  padding: 0.5em 0.5em 0.5em 0.5em;
  float: left;
  user-select: none;
  color:white;
  
}
.focus-Header-mobile {
  padding: 0.5em 0.5em 0.5em 0.5em;
  float: left;
  user-select: none;
  color:white;
  
  /*position: fixed;*/
}

.focus-Header-container-mobile {
  width: 100%;
  position: fixed;
  background-color:black;
  top: 0px;
  position: fixed;
}

.focus-Close {
  padding: 0.5em 0.5em 0.5em 0.5em;
  float:right;
  user-select: none;
  color:white;
}

.focus-Close-mobile {
  padding: 0.5em 0.5em 0.5em 0.5em;
  user-select: none;
  color:white;

  position: fixed;
  right: 0;
  top: 0;
}

.focus-Close:hover {
  background-color: white;
  color:black;
}

.focus-Desc {
  font-family: 'Schrijf';
  padding: 0 0.5em 0.5em 0.5em;
  font-size: 0.8em;
  margin-top: 0px;
  text-align: justify;
  user-select: none;
  color:white;
}


.right {
  display:flex;
  position:absolute;
  right:0;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: var(--rightWidth);
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
  padding: 0.5em;
  
  /*z-index: var(--menuZIndex);*/
} 

.mobile-menu-background{
  background-color: rgba(245,245,245,0.5);
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  position: fixed;
  display: var(--mobileMenuDisplay);
  /*--mobileMenuDisplay: block;*/
}

#draggable {
  /*position: absolute;*/
  z-index: 9;
  cursor: move;
}

a {
  width:fit-content;
}

a:hover {
  background-color: black;
  color:white;
  cursor: pointer;
}

.ack-bg {
  width:100vw;
  height:100vh;
  position:fixed;
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
  padding:1em;
  cursor: pointer;
}

.ack-text {
  font-family: Unica;
  font-size: 2em;
  color:white;
}

@media only screen and (max-device-width : 1024px) { 
  

}