@font-face {
  font-family: 'Unica';
  src: url("Type/NeueHaasUnica-Regular.ttf");
}

@font-face {
  font-family: 'Century';
  src: url("Type/Century-Schoolbook-Regular.ttf");
}

body {
  margin: 0 0 0 0;
  height:100vh;
  padding: 0;
  text-rendering: geometricPrecision;
  font-family: Unica, Helvetica;
  font-size: 1em;  
}

header {
  position:fixed;
  box-sizing: border-box;
  padding:10px;
  z-index:2;
}

footer {
  position:fixed;
  box-sizing: border-box;
  padding:10px;
  z-index: 2;
  right:0;
  text-align: right;
}

.times {
  font-family: Century;
  font-size: 0.7em;
}

.helvetica {
  font-family: Helvetica;
  font-size: 1.5em;
  font-weight: 600;
  padding: 7.5px;
  cursor: url(Img/SquareCursor.svg) 15 15, auto;
}

.index-main-BG {
  position:absolute;
  /*box-sizing: border-box;*/
  padding:20px;
  width:100vw;
  height:100%;
  overflow: scroll;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 33%;

  /*mask-image: url("Img/StarMask.png");*/
  
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.index-main {
  position:absolute;
  /*box-sizing: border-box;*/
  padding:20px;
  width:100vw;
  height:100%;
  overflow: scroll;
}

.index-content {
  position:absolute;
  top:10vh;
  line-height: 1.4em;
  font-family: Century;
}

.index-img img {
  width: 30vw;
  max-height:auto;
}

.index-line {
  margin-bottom: 5em;
}

.index-right {
  position:absolute;
  height:100%;
  font-family: Century;
  padding:20px;
  right:0;
  overflow: scroll;
}





@media only screen and (max-device-width : 1024px) { 
  

}