@font-face {
  font-family: 'Unica';
  src: url("Type/NeueHaasUnica-Medium.ttf");
}

@font-face {
  font-family: 'Century';
  src: url("Type/Century-Schoolbook-Regular.ttf");
}
/*
body {
  margin: 0 0 0 0;
  height:100vh;
  padding: 0;
  text-rendering: geometricPrecision;
  font-family: Unica, Helvetica;
  font-size: 1em;  
}*/

header {
  position:fixed;
  box-sizing: border-box;
  padding:10px;
  z-index:2;
}

footer {
  position:fixed;
  box-sizing: border-box;
  padding:10px;
  z-index: 2;
  right:0;
  text-align: right;
}

.help-text-individual{
  display: inline-block;
  animation-name: floating;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}


.help-text-container{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fact-times {
  font-family: Century;
  font-size: 0.7em;
  margin: 0;
}

.bottom-of-page{
  z-index: 999;
  position:fixed;
  bottom: 0px;
  width: 100%;
}

.scrolling-banner-child{
  box-sizing: border-box;
  height: 100%;
  vertical-align:text-top;
  text-align: center;
  width: 25%;
  float: left;
  background-color: transparent;
  border-top: 2.5px;
  border-left: 2.5px;
  border-right: 2.5px;
  border-bottom: 0px;
  border-style: solid;
}

.scrolling-banner-child:hover{
  border-style: solid;
  border-top: 3px;
  border-left: 3px;
  border-right: 3px;
  border-bottom: 0px;
  border-color: grey;
}

.scrolling-banner-parent{
  width: 100%;
  height: 40px;
  background-color: transparent;
  overflow: hidden;
}

.index-dt{
  padding-bottom: 5px;
}

.index-tiny-img {
  height:20px;
  width:20px;
  display: inline;
}

.index-times {
  font-family: Century;
  font-size: 0.7em;
  display: inline;
  padding-left: 5px;
  vertical-align:text-top;
}

.times {
  font-family: Century;
  font-size: 0.7em;
}

.helvetica {
  font-family: Helvetica;
  font-size: 1.5em;
  font-weight: 600;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: url(Img/SquareCursor.png) 15 15, auto;
}

.index-main-paper {
  position:absolute;

  padding:20px;
  width:100vw;
  height:100%;
  overflow: scroll;
  mix-blend-mode: darken;
  background-size: 33%;
}

.index-main-BG {
  position:absolute;
  padding:20px;
  width:100vw;
  height:100%;
  overflow: scroll;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 33%;
  
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.index-main {
  position:absolute;
  padding:20px;
  width:100vw;
  height:100%;
  overflow: scroll;
  z-index: 10;
}

.index-content {
  position:absolute;
  top:10vh;
  line-height: 1.4em;
  font-family: Century;
}

.index-img img {
  width: 30vw;
  max-height:auto;
}

.index-line {
  padding-top: 12px;
  padding-bottom: 12px;
}

.index-right {
  position:absolute;
  height:100%;
  font-family: Century;
  padding:20px;
  right:0;
  overflow: scroll;
}

/* new additions 06 05 2023 */

* {
  text-rendering: geometricPrecision;
  font-family: "Unica", Helvetica;
  line-height: 1;
}

html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.content {
  height: 100%;
  z-index: 10;
  position: relative;
}

.left {
  float: left;
  display:flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding: 0.5em;
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}


.left::-webkit-scrollbar { 
  display: none; 
}

.left .title-container {
  position: fixed;
}

.left .student {
  display:block;
}

.left .student-names {
  margin-top: 50%;
}

.left .student-expand {
  display:none;
  flex-direction: column;
  height:auto;
  box-sizing: border-box;
  padding:0.5em;
  margin-bottom: 1em;
}

.left .student-expand span {
  font-family: Courier New;
  font-size: 0.8em;
  margin-bottom: 1em;
}

.left .student-expand img {
  max-width:15em;
  height:auto;
}

.right {
  float: left;
  float: left;
  display:flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding: 0.5em;
}

a {
  width:fit-content;
}

a:hover, .active {
  color:white;
  background-color: black;
  cursor: pointer;
}

@media only screen and (max-device-width : 1024px) { 
  

}